body {
  background-color: #ab0d62;
}


/*Titulo de la seccion de registro */
.first{
  font-size: 2em;
  font-weight: 900;
  text-align: left;
  color: #76278f;
}
/*Cabecera, movimiento hacia abajo*/
header{
  padding-top: 3%;
}
/*Bloque dentro de la caja de Registro*/
.InsideSignUp-Box{
  font-family: 'Montserrat', sans-serif;
  padding-top: 2em;
  padding-left: 5em;
}

/*Icono de Lyft movible de manera independiente*/
#LogoWhite {
  height: 2.8em;
  width: 4em;
  position: relative;
  right: 25%;
  display: inline-block;
}
/*Boton de Login de header que se mueve de manera independiente*/
#Login {
  background-color: #76278F;
  border-color: white;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  padding: .5em;
  width: 5em;
}
/*Barra que contiene logo, botones y Etiquetas de navegacion*/
.nav {

  display: inline-block;
}
/* Etiquetas de navegacion*/
.navigationBar {
  color: white;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding: 2em;
  position: relative;
  left: 23%;
  text-decoration: none;
}
/*Input de caja de primera seccion */
#PhoneNumber{
  display: block;
  border: 0em;
  border-bottom: solid;
  border-width: thin;
  border-color: #dedede;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin-bottom: 1em;
  height: 5vh;
  width: 20vw;
}
/*Subtitulo de la seccion de registro */
.second{
  color: #76278F
  font-size: 1em;
  font-weight: 900;
  text-align: left;
  margin-top: 2%;
  margin-bottom: 4%;

}
/*Caja que contiene todo dentro de primera seccion*/
.SignUpBox{
  background-color: white;
  margin-top: 4%;
  position: relative;
  left: 60%;
  height: 400px;
  width: 40%;
}
/*Letras peque;as que se encuentran dentro de la caja de la primera seccion*/

.SignUpBox span{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  display: block;
}
/*Botones de Inicio de secion y registro*/
.SignUpButton{
  font-family: 'Montserrat', sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  right: 13%;
  height: 3em;
  display: inline-block;
}
/*Boton 1 personalizacion*/
.BecomeDiver{
  background-color: #9f19c9;
  border-radius: 7px;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin-right: 1em;
  width: 12em;
}
/*Boton 2 personalizacion*/
.UptoRide{
  background-color: white;
  border: none;
  text-decoration: underline;
  font-size: 1em;
}
/*background*/
.gif{
background-image: url("./../assets/images/hero.gif");
background-size: contain;
background-position: top;
text-align: center;
height: 610px;
width: 100%;
bottom: 4em;

}
/*second background*/
#SectionBackground{
  background-image: linear-gradient(#691B84, #2B1E66);
  height: 480px;
  width: 100%;
}
/*Contenedor de parrafo de la segunda seccion */
.Second-SectionContainer{
  color: white;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin-top: 50px;
  left: 10%;
  width: 40%;

}
/*Celular de segunda seccion */
.CelphoneImage{
  display: inline-block;
  position: relative;
  left: 53%;
  bottom: 24.5em;
  height: 400px;
  width: 40%;

}
/*Titulos de la segunda seccion */
.titles-SecondSection{
  font-size: 2em;
}
/*Contenedor de la tercera seccion */
.Container-thirdSection{
  background-color: white;
  display: inline-block;
  height: 399px;
  width: 40%;
}
/*Video Way to glow*/
.Video-WaytoGlow{
  position: relative;
  bottom: 107px;
  left: 50%;
}
/*Dise;o de contenedor  de tercera seccion*/
.Container-paragraph-thirdSection{
  position: relative;
  top: 40px;
  left: 10%;
  font-family: 'Montserrat', sans-serif;
}
.Container-paragraph span{
  font-size: .7em;
}
.titles-ThirdSection{
  font-size: 2em;
}
/*Dise;o de contenedor de cuarta seccion*/
.Container-paragraph-FourthSection{
  background-color: white;
  display: inline-block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  left: 60%;
  bottom:218px;
  height: 399px;
  width: 40%;
}
.Container-paragraph-FourthSection>span{
 font-size: .7em;
}
.titles-FourSection{
  font-size: 2em;
}

.Video-June{
  position: relative;
  bottom: 309px;
}
.paragraph-FourSection{
  position: relative;
  left: 10%;
}
/*Dise;o quinta seccion */
.Container-paragraph-fifthSection{
  background-color: white;
  display: inline-block;
  height: 399px;
  width: 40%;
}
.Container-paragraph-fifthSection>span{
  font-size: .7em;
}
.titles-fifthSection{
  font-size: 2em;
}
.Video-UpQuickly{

}
.
